/teste
/.vscode
Bosque_CF_7.4_cgd.txt
Bosque_CF_7.4.conll.gz
Bosque_CF_7.5_cgde_22032016.conll.gz
bosque_CF.udep.conll
bosque_CF.udep.conll.gz
Bosque_CP_7.4_cgd.txt
Bosque_CP_7.4.conll.gz
Bosque_CP_7.5_cgde_22032016.conll.gz
Bosque_CP_8.0.ad.txt
Bosque_CP_8.0.PennTreebank.ptb
bosque_CP.udep.conll
bosque_CP.udep.conll.gz
lista-arquivos-removidos.txt